body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    flex: auto;
}
article{
    width: 67%;
    flex: 2;
    overflow-y: auto;
}
aside{
    width: 33%;
    flex: 1;
    overflow-y: auto;
}

